<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block head_block %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    {% endblock %}
    <title>Cat Catalog API</title>
</head>
<body>
        <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a class="navbar-brand" href="{% url 'ui:index_page' %}">Cat Catalog</a></li>
                        <li><a id="id_nav_breeds" href="{% url 'ui:breeds_page' %}">Breeds List</a></li>
                        <li><a id="id_nav_specs" href="{% url 'ui:specs_page' %}">API Specs</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id='github_href' href="https://github.com/trolleksii/catsapi"><img src="{% static 'img/octocat.png' %}">GitHub</a></li>
                    </ul>
                </div>
        </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
</body>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block script_block %}
<script src="{% static 'js/catalog.js' %}"></script>
{% endblock %}
</html>