{% extends "base.html" %}
{% block body_block %}
<h2>JSON Objects returned by API</h2>
<h4 id="one_breed">Cat breed</h4>
<pre>
{
  "status": "success",
  "message": {
    "name": "Abyssinian",
    "slug": "abyssinian"
  },
}
</pre>
<h4 id="mult_breeds">Multiple breeds</h4>
<pre>
{
  "status": "success",
  "message": [
    {
      "name": "Abyssinian",
      "slug": "abyssinian"
    },
    {
      "name": "British Shorthair",
      "slug": "british-shorthair"
    },
    {
      "name": "British Longhair",
      "slug": "british-longhair"
    }
  ]
}
</pre>
<h4 id="cat_img">Cat image</h4>
<pre>
{
  "status": "success",
  "message": "{{ site_url }}static/images/abyssinian/4887f792-796a-4f7d-b444-89c254f327c7.jpg"
}
</pre>
<h4 id="mult_imgs">Multiple cat images</h4>
<pre>
{
  "status": "success",
  "message": [
    "{{ site_url }}static/images/abyssinian/4887f792-796a-4f7d-b434-89c253f327c7.jpg",
    "{{ site_url }}static/images/abyssinian/69115af0-db84-4aa4-955e-17719f7e2b7b.jpeg",
    "{{ site_url }}static/images/abyssinian/5dc9bd98-3ad6-4a3b-802b-17d89118b7b5.png"
  ]
}
</pre>

<h2>Errors and status codes</h2>
<p>All errors are returned in the following format:</p>
<pre>
{
  "status": "error",
  "message": {
    "not_found": "Breed not found."
  }
}
</pre>
Status code of response corresponds to the error type.


<h2>API Endpoints</h2>
<h4>Get list of available breeds:</h4>
<div class="well well-sm">GET {{ site_url }}api/breeds</div>
<p>Returns <a href="#mult_breeds">'Multiple breeds'</a></p>

<h4>Add a new breed to the list:</h4>
<div class="well well-sm">POST {{ site_url }}api/breeds</div>
<p>Example request body:</p>
<pre>
{
  "breed": {
    "name": "cornish rex"
  }
}
</pre>
<p>Returns added <a href="#one_breed">'Cat breed'</a></p>

<h4>Get a list of images of the specific breed:</h4>
<div class="well well-sm">GET {{ site_url }}api/breeds/<strong>:breed</strong></div>
<p>Returns <a href="#mult_imgs">'Multiple images'</a></p>

<h4>Get a random image of the specific breed:</h4>
<div class="well well-sm">GET {{ site_url }}api/breeds/<strong>:breed</strong>/random</div>
<p>Returns a <a href="#cat_img">'Cat image'</a></p>

<h4>Upload an image of the specific cat breed:</h4>
<div class="well well-sm">POST {{ site_url }}api/breeds/<strong>:breed</strong></div>
<p>Use <strong>multipart/form-data</strong> to upload the image. Image size is limited to <strong>500KB</strong>.
You should name your file(s) with the same name `files` in request, for example:
<pre>
  curl -F files=@image1.jpg -F files=@image2.png localhost:8000/api/breeds/british-longhair
</pre>
<p>Returns added <a href="#cat_img">'Cat image'</a></p>
{% endblock %}